.moviePage {
  margin: 40px 300px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
h4 {
  margin-top: 20px;
}

.movie {
  display: flex;
  gap: 40px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.poster {
  height: 600px;
}

.rating {
  font-size: 20px;
}

.overview {
  font-size: 18px;
  width: 700px;
}

.additional {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  font-size: 26px;
}
